.idea/
aib.txt
binoctdechex.txt
calculate_days.txt
calculate_hours.txt
cf.txt
checksum.txt
day_count.txt
fact_perm_comb.txt
factory.txt
goodreads0_scrape_shelves.txt
goodreads1_collect_books.txt
goodreads2_librarian.txt
goodreads3_stats.txt
hours.txt
json_operations.txt
mastermind.txt
matrix_operations.txt
minefield.txt
odd.txt
pages.txt
pages_per_chapter.txt
per.txt
process_days_input.txt
process_hours_input.txt
process_input_and_output.txt
process_output.txt
quadr.txt
quadr_factory.txt
random_extract.txt
random_paragraph.txt
rational_fraction.txt
raw_aib.txt
raw_binoctdechex.txt
raw_calculate_days.txt
raw_calculate_hours.txt
raw_cf.txt
raw_checksum.txt
raw_day_count.txt
raw_fact_perm_comb.txt
raw_factory.txt
raw_goodreads0_scrape_shelves.txt
raw_goodreads1_collect_books.txt
raw_goodreads2_librarian.txt
raw_goodreads3_stats.txt
raw_hours.txt
raw_json_operations.txt
raw_mastermind.txt
raw_matrix_operations.txt
raw_minefield.txt
raw_odd.txt
raw_pages.txt
raw_pages_per_chapter.txt
raw_per.txt
raw_process_days_input.txt
raw_process_hours_input.txt
raw_process_input_and_output.txt
raw_process_output.txt
raw_quadr.txt
raw_quadr_factory.txt
raw_random_extract.txt
raw_random_paragraph.txt
raw_rational_fraction.txt
raw_ruffini.txt
raw_scrape_extracts.txt
raw_scrape_md.txt
raw_seafoam.txt
raw_tcb.txt
raw_timing.txt
raw_which_watch.txt
ruffini.txt
scrape_extracts.txt
scrape_md.txt
seafoam.txt
tcb.txt
timing.txt
which_watch.txt